<!DOCTYPE html>
<html>
  <head>
    <title>AppDeTeste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if request.original_url != (request.base_url + root_path) %>
      <div class='nav'>
        <%= link_to 'Inicio', root_path %>

        <%= link_to 'Adicionar Pessoa', new_pessoa_path %>

        <%= link_to 'Todas as Pessoas', pessoas_path %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
